<div class="jumbotron fadeIn fast">
  <h1 class="display-4"><b>Comic #</b>{{ comic.num }}</h1>
  <img src="{{comic.img}}" alt="{{comic.alt}}">
  <hr class="my-4">
  <h1 class="lead"><b>ID:</b> {{ comic.id }}</h1>
  <hr class="my-4">
  <p class="lead"><b>Title:</b> {{ comic.title }}</p>
  <hr class="my-4">
  <p class="lead"><b>Transcript:</b> {{ comic.transcript }}</p>
  <hr class="my-4">
  <p class="lead"><b>Alt:</b> {{ comic.alt }}</p>
  <hr class="my-4">
  <p class="lead"><b>Safe Title:</b> {{ comic.safe_title }}</p>
  <hr class="my-4">
  <p class="lead"><b>Date:</b> {{ date | date:'EEEE, d MMMM y' }}</p>
  <hr class="my-4">
  <div class="row">
    <div  class="col-sm">
      <button type="button" class="btn btn-outline-primary btn-block" data-toggle="collapse" data-target="#collapseDelete" role="button"> <span octicon="flame"></span> Delete Comic</button>
    </div>
    <div  class="col-sm">
      <button type="button" class="btn btn-outline-primary btn-block" data-toggle="collapse" data-target="#collapseUpdate" role="button"> <span octicon="pencil"></span> Update Comic</button>
    </div>
  </div>
  <br>
  <div class="row collapse" id="collapseDelete">
    <div class="card card-body bg-light">
      <div class="row">
        <div class="col-sm">
          <button (click)="deleteComic()" type="button" class="btn btn-outline-danger btn-block" role="button">Confirm Delete Comic</button>
        </div>
        <div class="col-sm">
          <button  type="button" class="btn btn-outline-warning btn-block" data-toggle="collapse" data-target="#collapseDelete" role="button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row collapse" id="collapseUpdate">
    <div class="card card-body bg-light">

     <form #form="ngForm" id="updateForm" *ngIf="!success">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="num"><h5>Number</h5></label>
          <input type="number" class="form-control" id="num" placeholder="Number" name="num" [(ngModel)]="comic.num" required #num="ngModel">
        </div>
        <div class="form-group col-md-6">
          <label for="img"><h5>Image</h5></label>
          <input type="text" class="form-control" id="img" placeholder="Image" name="img" [(ngModel)]="comic.img" required #img="ngModel">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="safe_title"><h5>Safe Title</h5></label>
          <input type="text" class="form-control" id="safe_title" placeholder="Safe Title" name="safe_title" [(ngModel)]="comic.safe_title" required #safe_title="ngModel">
        </div>
        
        <div class="form-group col-md-6">
          <label for="title"><h5>Title</h5></label>
          <input type="text" class="form-control" id="title" placeholder="Title" name="title" [(ngModel)]="comic.title" required  #title="ngModel">
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="transcript"><h5>Transcript</h5></label>
          <textarea type="textarea" class="form-control" id="transcript" placeholder="Transcript" name="transcript" [(ngModel)]="comic.transcript" #transcript="ngModel"></textarea>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="day"><h5>Day</h5></label>
          <input type="text" class="form-control" id="day" placeholder="Day" name="day" [(ngModel)]="comic.day" required #day="ngModel">
        </div>
        
        <div class="form-group col-md-4">
          <label for="month"><h5>Month</h5></label>
          <input type="text" class="form-control" id="month" placeholder="Month" name="month" [(ngModel)]="comic.month" required  #month="ngModel">
        </div>
        
        <div class="form-group col-md-4">
          <label for="year"><h5>Year</h5></label>
          <input type="text" class="form-control" id="year" placeholder="Year" name="year" [(ngModel)]="comic.year" required  #year="ngModel">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="alt"><h5>Alt</h5></label>
          <input type="text" class="form-control" id="alt" placeholder="Alt" name="alt" [(ngModel)]="comic.alt" required #alt="ngModel">
        </div>
        
        <div class="form-group col-md-2">
          <label for="link"><h5>Link</h5></label>
          <input type="text" class="form-control" id="link" placeholder="Link" name="link" [(ngModel)]="comic.link" #link="ngModel">
        </div>
        
        <div class="form-group col-md-2">
          <label for="news"><h5>News</h5></label>
          <input type="text" class="form-control" id="news" placeholder="News" name="news" [(ngModel)]="comic.news" #news="ngModel">
        </div>
      </div>

       <div class="form-row">
          <div class="form-group col-md-12">
            <label for="button"><h5>Update Comic</h5></label><br>
            <button (click)="updateComic(this.comic)" id="button" [disabled]="!form.valid" type="button" class="btn btn-outline-success btn-block"><span octicon="plus"></span></button>
          </div>
      </div>
          
    </form>
        
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
      <strong>Comic Update Successful!</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alertClosed()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
      <strong>Comic number already registered!</strong> Please try again.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    </div>
  </div>
</div>
