<form (ngSubmit)="logInApp(form)" #form="ngForm" class="form-signin text-center">
  <img class="mb-4" src="../assets/logo.png" alt="XKCD" /> 
  <div class="form-group">
    <label for="username" class="sr-only">Email</label> 
    <input type="text" id="username" class="form-control" placeholder="Email" required="" autofocus="" name="email" [(ngModel)]="user.email" (keyup)="validateEmail($event)" /> 
    <label for="inputPassword" class="sr-only">Password</label> 
   <input type="password" id="password" class="form-control" placeholder="Password" required="" name="password" [(ngModel)]="user.password" /> 
  </div>
  <button [disabled]="!form.valid || !validEmail" class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
</form>

<div class="form-signin text-center">
  <a [routerLink]="['/create-user']" class="btn btn-sm btn-outline-primary">Create User</a>
</div>

  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
    <strong>Email or Password error!</strong> Please try again.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
